//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: "Taviraj";
	font-weight: 500;
	font-size: rem(20);
	line-height: math.div(32, 20);
	letter-spacing: 0.03em;
	color: #fff;
	padding: rem(15) rem(30) rem(14) rem(30);
	background-color: $orangeColor;
	transition: background-color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #f57558;
		}
	}
	&._fw {
		width: 100%;
	}
	&--cart {
		font-weight: 400;
		line-height: math.div(34, 20);
		padding: rem(14) rem(30);
		span {
			display: inline-flex;
			align-items: center;
			gap: rem(18.5);
			&::before {
				width: rem(21.3);
				flex: 0 0 rem(21.3);
			}
		}
	}
	&--small {
		font-weight: 400;
		font-size: rem(16);
		line-height: 1.5;
		padding: rem(8) rem(30) rem(7) rem(30);
	}
	&--h68 {
		padding: rem(18) rem(35);
	}
}

.border-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: "Taviraj";
	font-weight: 500;
	font-size: rem(20);
	line-height: 1.6;
	letter-spacing: 0.03em;
	color: $orangeColor;
	border: rem(1) solid $orangeColor;
	padding: rem(14) rem(27) rem(13) rem(28);
	transition: all 0.3s ease 0s;
	@media (any-hover: hover){
		&:hover{
			background-color: $orangeColor;
			color: #fff;
		}
	}
	&--cicil {
		border: rem(2) solid $orangeColor;
		padding: rem(13) rem(39) rem(12) rem(40);
		@media (any-hover: hover){
			&:hover{
				background-color: rgb(247, 197, 168);
			}
		}
	}
	&--big {
		font-weight: 400;
		padding: rem(16) rem(30) rem(16) rem(30);
	}
	&--small {
		border: rem(2) solid $orangeColor;
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(27 , 16);
	}
}
